<!DOCTYPE html>
<html>
	<head>
		<title> Project 1 Website </title>

		<meta charset = "UTF-8">
		<meta name="description" content="Photo album editing">
		<meta name="keywords" content="HTML, Python, MySQL">
		<meta name="author" content="Andrew Wilkins, Eddie Cai, Insang Hwang">
	</head>

	<body>
		<h1> Photo Album </h1>
		<p> Welcome to our website! </p>

		<p> TEST FORM </p>
		<! Use GET to not make changes, POST for editing/adding content>
		<form method = "post">
			First name:<br>
			<input type ="text" name = "firstname"><br>
			Last name:<br>
			<input type ="text" name = "lastname"><br>
			<input type="submit" value = "submit"><br>
		</form>

		<p> TEST: LIST OF ALL USERS </p>

		<table>
			{% for result in lst %}
			<tr><td> {{ result }} </td></tr>
			{% endfor %}
		</table>

	</body>

	<footer>
		<p>Created in 2017 by Cai, Hwang, Wilkins</p>
		<p><a href "eecs485.org"> EECS 485 Homepage </a> </p>
</html>
